.btn{
    padding: 10px 60px;
    background-color: blue;
    margin-top: 40px;
    margin-bottom: 40px;
    color: white;
    font-size: 16px;
}
input{
padding: 6px 50px;
border: 1px solid blue !important;
border-radius: 10px;
font-size: 16px;
}
form{
    margin-top: 50px;
    label{
        color: blue;
        margin-left: 20px;
    }
}
.req{
    color: red;
}